<div class="w-100 fixed top-0 h2 bg-white grey o-50 bb shadow-1 z-999">
  <form id="languageBtn" action="/language_change" method="post">
    <fieldset class="b--transparent">
      <legend class="sr-only">{{text.chooseLang}}</legend>
      <input class="sr-only" id="arabic"type="radio" name="language" value="arabic">
      <label class="link dim" for="arabic">{{text.langArabic}}</label>
      |
      <input class="sr-only" id="english"type="radio" name="language" value="english">
      <label class="link dim" for="english">{{text.langEnglish}}</label>
    </fieldset>
  </form>
</div>
