<div class="dib absolute right-0">
  <form id="languageBtn" action="/language_change" method="post">
    <ul class="list">
      <li class="pa1"><input type="radio" name="language" value="arabic">عربي</li>
      <li class="pa1"><input type="radio" name="language" value="english">English</li>
    </ul>
  </form>
</div>
