<nav class="fixed bottom-0">
  <a class="link dim black b f6 f5-ns dib mr3" href="/" title="Home">{{text.mainTitle}}</a>
  <a class="link dim black b f6 f5-ns dib mr3" href="#" title="Home">{{text.help}}</a>
</nav>
