<nav>
  <section>
    <div class="homeIcon">
      <a href="/" title="{{text.homePage}}">
        <img src="./assets/icons/home.svg" alt="{{text.homeIcon}}">
      </a>
    </div>
    <div class="helpIcon" title="{{text.help}}">
      <img src="./assets/icons/help.svg" alt="{{text.helpIcon}}">
    </div>
  </section>
</nav>
