<nav>
  <section>
    <div class="">
      <a href="/">
        <img src="./assets/icons/home.svg" alt="picture of home page">
      </a>
    </div>
    <div class="">
      <img src="./assets/icons/help.svg" alt="picture of help page">
    </div>
  </section>
</nav>
