<nav>
  <section>
    <div class="">
      <a href="/">
        <img src="./assets/icons/home.svg" alt="picture of home page">
      </a>
    </div>
    <div id="helpSubmit">
      <img src="./assets/icons/help.svg" alt="picture of help page">
    </div>

    <div id="helpInformation" class="dn">
      infomration about the app
    </div>
  </section>
</nav>
<script src="./main.js" type="text/javascript"></script>
