<!DOCTYPE html>
<html class="black bg-white">
  <head>
    <meta charset="utf-8">
    <title>easyNaz</title>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.7.0/css/tachyons.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
