<form class="pa4 black-80 tc">
  <h1>Accessibility Options :
</h1>
  <div class="items center db mb2">
     <input class="mr2" type="checkbox" id="Braille" value="Braille">
     <label for="Braille" class="lh-copy">Braille</label>
   </div>
   <div class="items center db mb2">
     <input class="mr2" type="checkbox" id=" Large Font Menus" value=" Large Font Menus">
     <label for=" Large Font Menus" class="lh-copy"> Large Font Menus</label>
   </div>
   <div class="itemscenter db mb2">
     <input class="mr2" type="checkbox" id=" Wheelchair Access" value=" Wheelchair Access">
     <label for=" Wheelchair Access" class="lh-copy"> Wheelchair Access</label>
   </div>
   <div class="items center db mb2">
     <input class="mr2" type="checkbox" id=" Audio Menu" value=" Audio Menu">
     <label for=" Audio Menu" class="lh-copy"> Audio Menu</label>
   </div>
   <div class="pt3">
     <a  href="list">submit</a>
   </div>
</form>
