<form class="pa4 black-80 tc">
  <h1>Accessibility Options :
</h1>
<section class="w-100">
  <section class="center w-40 db">
    <section class="tl mb2">
       <input class="mr2" type="checkbox" id="Braille" value="Braille">
       <label for="Braille" class="lh-copy w3">Braille</label>
     </section>
     <section class="tl mb2">
       <input class="mr2" type="checkbox" id=" Large Font Menus" value=" Large Font Menus">
       <label for=" Large Font Menus" class="lh-copy w3"> Large Font Menus</label>
     </section>
     <section class="tl  mb2">
       <input class="mr2" type="checkbox" id=" Wheelchair Access" value=" Wheelchair Access">
       <label for=" Wheelchair Access" class="lh-copy w3"> Wheelchair Access</label>
     </section>
     <section class="tl mb2">
       <input class="mr2" type="checkbox" id=" Audio Menu" value=" Audio Menu">
       <label for=" Audio Menu" class="lh-copy w3"> Audio Menu</label>
     </section>
     <section class="pt3">
       <a  href="list">submit</a>
     </section>
  </section>

</section>

</form>

{{> infoNavbar}}
