<section class="bg-img">
  <header class="w-100 pa3 h-btn">
  </header>
  {{> level1}}
  <form tabindex="1" class="pv3">
    <fieldset class="b--none pa0">
      <section class="w-100 tc f3">
        <legend>{{text.bizChoice}}</legend>
      </section>
      <section class="w-100 tc pv3">
        <div class="w-100 cf pv1">
          <label for="restaurants" class="fl cf w-33 tc bg-rest">
            <div class="aspect-ratio aspect-ratio--1x1">
              <input class="o-0 aspect-ratio--object" type="checkbox" id="restaurants" value="restaurants" title="restaurant">
            </div>
          </label>
          <label for="religion" class="fl cf w-33 tc bg-rel">
            <div class="aspect-ratio aspect-ratio--1x1">
              <input class="o-0 aspect-ratio--object" type="checkbox" id="religion" value="religion" title="religion">
            </div>
          </label>
          <label for="shopping" class="fl cf w-33 tc bg-shop">
            <div class="aspect-ratio aspect-ratio--1x1">
              <input class="o-0 aspect-ratio--object" type="checkbox" id="shopping" value="shopping" title="shopping">
            </div>
          </label>
        </div>
        <div class="w-100 cf pv1">
          <label for="cafes" class="fl cf ml4 w-33 tc bg-cafe">
            <div class="aspect-ratio aspect-ratio--1x1">
              <input class="o-0 aspect-ratio--object" type="checkbox" id="cafes" value="cafes" title="{{text.cafes}}">
            </div>
          </label>
          <label for="museums" class="fr cf mr4 w-33 tc bg-museum">
            <div class="aspect-ratio aspect-ratio--1x1">
              <input class="o-0 aspect-ratio--object" type="checkbox" id="museums" value="museums" title="{{text.museums}}">
            </div>
          </label>
        </div>
      </section>
    </fieldset>
  </form>
  <a  href="location">{{text.submit}}</a>
</section>

{{> infoNavbar}}
