<ul class="pa2">
  <li class="ba list tc pa2 ma1">
    <a href="/business?name=Liwan" class="link black">
      <h1>Liwan</h1>
      <h1>Old Town</h1>
      <ul>
        <li class="list">Wheel Chair Accessible</li>
        <li class="list">Small font menu, but helpful staff</li>
      </ul>
    </a>
  </li>
  <li class="ba list tc pa2 ma1">
    <a href="/business?name=Avra" class="link black">
      <h1>Avra</h1>
      <h1>Mary's Well</h1>
      <ul>
        <li class="list">Wheel Chair Accessible</li>
        <li class="list">Small font menu, but helpful staff</li>
      </ul>
    </a>
  </li>
  <li class="ba list tc pa2 ma1">
    <a href="/business?name=BigRed" class="link black">
      <h1>Big Red Fashion Outlet</h1>
      <h1>Down Town</h1>
      <ul>
        <li class="list">Wheel Chair Accessible</li>
      </ul>
    </a>
  </li>
</ul>

{{> infoNavbar}}
