<ul class="pa2">
  {{#each businesses}}
  <li class="ba list tc pa2 ma1">
    <a {{{link this.id}}} class="link black">
      <h1>{{this.name}}</h1>
      <h1>{{this.address}}</h1>
      <ul class="pa0">
        {{#each this.accessibility}}
        <li class="list">{{this}}</li>
        {{/each}}
      </ul>
    </a>
  </li>
  {{/each}}
</ul>

{{> infoNavbar}}
