<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <section class="">
    <div class="">
      <h2>Select the Disabilities you want to be catered for</h2>
    </div>
    <div class="">
      <button type="button" name="visual">Visual</button>
      <button type="button" name="physical">Physical</button>
      <button type="button" name="aural">Aural</button>
      <button type="button" name="mental">Mental</button>
    </div>
    <div class="">
      <button type="button" name="next">Next</button>
    </div>
  </section>
  </body>
</html>
