  <section class="">
    <div class="">
      <h2>Select the Disability or Disabilities you want to be catered for</h2>
    </div>
    <div class="">
      <button type="button" aria-label="Visual Option Not Selected">Visual</button>
      <button type="button" aria-label="Physical Option Not Selected">Physical</button>
      <button type="button" aria-label="Aural Option Not Selected">Aural</button>
      <button type="button" aria-label="Mental Option Not Selected">Mental</button>
    </div>
    <div class="">
      <button type="button" arial-label="Go to next page">Next</button>
    </div>
  </section>
