<header class="dt vh-100 w-100 tc">
  <h1 class="ma0 v-mid dtc">
    <a href='/businessType'>
      <img src="./assets/logos/easy_naz_logo_splash.svg" alt="Picture of easyNAZ Logo">
      <img class="w3"src="./assets/logos/trans-al-logo.png" alt="Picture of almanarah Logo">
    </a>
  </h1>
</header>
