<header class="dt vh-100 w-100 tc">
  <h1 class="ma0 v-mid dtc">
    <a href='/businessType'>
      <img src="./assets/logos/easy_naz_logo_splash.svg" alt="Picture of easyNAZ Logo">
    </a>
  </h1>
</header>
