  <section class="">
    <div class="">
      <h2>Select the Disability or Disabilities you want to be catered for</h2>
    </div>
    <div id="buttons" class="">
      <button type="button" aria-pressed="false">Visual</button>
      <button type="button" aria-pressed="false">Physical</button>
      <button type="button" aria-pressed="false">Aural</button>
      <button type="button" aria-pressed="false">Mental</button>
    </div>
    <section>
      <p>Filters chosen</p>
      <div id="filters">

      </div>
    </section>
    <div class="">
      <a href="services" aria-label="Go to next page">Next</a>
    </div>
  </section>

  <script type="text/javascript" src="./js/disabilityPage.js"></script>
