<header class="vh-100 w-100 pv6">
    <a href='/businessType'>
      <img class="w3 mv3" src="./assets/logos/trans-al-logo.png" alt="Picture of almanarah Logo"><br><img class="mv3" src="./assets/logos/easy_naz_logo_splash.svg" alt="Picture of easyNAZ Logo">
    </a>
</header>
