<form class="pa4 black-80 center">
  <h1 class="center">location</h1>
  <label for="location" class="f6 b db mb2 center">Please enter the location you are looking for: </label>
  <div class="flex items-center mb2">
     <input class="mr2" type="checkbox" id="area1" value="area1">
     <label for="area1" class="lh-copy">area 1</label>
   </div>
   <div class="flex items-center mb2">
     <input class="mr2" type="checkbox" id="area2" value="area2">
     <label for="area2" class="lh-copy">area 2</label>
   </div>
   <div class="flex items-center mb2">
     <input class="mr2" type="checkbox" id="area3" value="area3">
     <label for="area3" class="lh-copy">area 3</label>
   </div>
   <div class="flex items-center mb2">
     <input class="mr2" type="checkbox" id="area4" value="area4">
     <label for="area4" class="lh-copy">area 4</label>
   </div>
   <div class="flex items-center mb2">
     <input class="mr2" type="checkbox" id="area5" value="area5">
     <label for="area5" class="lh-copy">area 5</label>
   </div>
   <div class="flex items-center mb2">
     <input class="mr2" type="checkbox" id="area6" value="area6">
     <label for="area6" class="lh-copy">area 6</label>
   </div>
   <div class="flex items-center mb2">
     <input class="mr2" type="checkbox" id="area7" value="area7">
     <label for="area7" class="lh-copy">area 7</label>
   </div>
    <a href="Accessibility">submit</a>

</form>
{{>header}}
