<form class="pa4 black-80-center">
  <h1>location</h1>
  <label for="location" class="f6 b db mb2">please enter your location looking for ? </label>
    <input id="location" class="input-reset ba b--black-20 pa2 mb2 db w-30" type="text" >
    <a href="submit">{{{Accessibility}}}</a>

</form>
