<h1>map of Nazareth</h1>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26856.915014032234!2d35.274839414545944!3d32.70958830125753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151c4e7cf16c0fff%3A0xd2385b30c1275dd6!2sNazareth!5e0!3m2!1sen!2sil!4v1494926442634" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

{{> infoNavbar}}
