<section >
  <ul>
    {{#each results}}
    <li>
      <div>
         <div>
           <h1>{{this.name}}</h1>
         </div>
         <div>
           <h1>{{this.Loc}}</h1>
         </div>
         <div>
           <h1>{{this.accessOptions}}</h1>
         </div>
         <div>
           <h1>{{this.open}}</h1>
         </div>
      </div>
    </li>
    {{/each}}
  </ul>

</section>
