<nav class="fixed bottom-0 tc w-100 pt1 bg-black-50 br2">
  <a class="link hover-silver dib mr3" href="/" title={{text.homePage}}>
    <img src="./assets/icons/home.svg" alt="text.homeIcon">
  </a>
  <a class="link dim dib mr3" href="#" title={{text.help}}>
    <img src="./assets/icons/help.svg" alt="text.helpIcon">
  </a>
  <a class="link dim dib mr3" href="#" title={{text.profile}}>
    <img src="./assets/icons/profile.svg" alt="text.helpIcon">
  </a>
</nav>
