<section class="w-100 tl pa3 b-0 bg-white fixed top-0">
  <img class="dib" src="./assets/logos/easynaz_logo.svg" alt="image of EASYNAZ text">
  <h1 class="dib white f6">List Of Results</h1>
</section>
